/* Header and h1 styling */
header img{
    width: 530px;
    height: 640px;
    background-color: rgba(90, 204, 230, 0.314);
    padding: 20px;
    
}
header{
    text-align: center;
}
h1{
    text-align: center;
}


/* nav styling */
nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
    padding: 40px;
}
nav li a:hover{
    background-color: rgba(90, 204, 230, 0.314);
    color: rgb(20, 53, 30);
    font-weight: bold;
}


/* body */
body{
    background-color: rgb(252, 245, 247);
}
/* flexbox body */

section{
    display: flex;
    text-align: center;
}
article{
    flex: 1;
}

/* Footer styling */
footer{
    display: flex;
    padding: 30px;
    text-align: center;
}
footer div{
    flex: 1;
}
footer img{
    width: 100px;
    height: 100px;
    background-color: rgba(90, 204, 230, 0.314);

}
